div.md-1{
    position: absolute;
    left: 300px;
    top: 210px;
    background-color: grey;
    width: 40px;
    height: 105px;
}

div.md-2,div.md-3,div.md-4{
    position: relative;
    left: 5px;
    border-radius: 800px;
    height: 30px;
    width: 30px;
    background-color: aliceblue;
}

div.md-4{top: 12px;}

div.md-3{ top: 8px;}

div.md-2{ top: 4px;}